.gt{ 
    color: black;
    height: 100vh;
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    @media screen and (max-width:500px) {
        gap: 10px;
    }
   
}
.conta a{
    color: white;
    padding: 4px;
    font-size: 19px;
    
}
.lest{
    background-color: rgb(2, 2, 41);
    height: 160px;
    width: 100%;
    margin-top: 32%;
    color: white;
    text-align: center;
    padding-top: 20px;
    @media screen and (max-width:360px) {
        margin-top: 460%;
        height: 310px;
    }
    @media screen and (min-width:361px) and (min-width:600px) {
        display: none;
    }
   
}
.lest p{
    padding-top: 30px;
}

.search{
    text-align: center;
    padding: 2%;
    background-color: white;
    
}

.search input{
    padding: 7px;
    width: 30%;
    border-radius: 5px;
    @media screen and (max-width:500px) {
        width: 70%;
    }
}
.banner img{
    height: 60px;
    width: 60px;
    margin-right: 80px;
    border-radius: 30%;
    @media screen and (max-width:500px) {
        height: 40px;
        width: 40px;
        margin-right: 0;
        margin: 5px;
    }
}
.banner{
    text-align: center;
    background-color: white;
    @media screen and (max-width:500px) {
    
    }
}
.head{
    text-align: center;
    margin-bottom: 2%;
    @media screen and (max-width:500px) {
        font-size: 13px;
        padding-bottom: 4%; 
    }
}
.end{
    height: 10%;
    width: 100%;
    background-color: red;
}
.ban img{
    width: 100%;
    margin-bottom: 30px;
}
